Repository strukturag/nextcloud-spreed-signaling: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, proxy, server

.codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: 2%

comment:
  layout: "header, diff, flags, components, files"
  after_n_builds: 2

ignore:
  - "*_easyjson.go"
  - "*.pb.go"

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/**
    - component_id: module_client
      name: client
      paths:
        - client/**
    - component_id: module_proxy
      name: proxy
      paths:
        - proxy/**
    - component_id: module_server
      name: server
      paths:
        - server/**

Update generated files.
  api_proxy_easyjson.go
Due: none

Make per-room/-publisher bandwidths configurable.
  api_backend.go
  backend_configuration.go
  backend_storage_etcd.go
  backend_storage_static.go
  mcu_janus.go
  mcu_janus_client.go
  mcu_proxy.go
  room.go
  server.conf.in
Due: none

Update generated files.
  api_backend_easyjson.go
Due: none

Update room join response with next-publisher bandwidth.
  hub.go
  room.go
  room_test.go
Due: none

Fix calculating publishers / bandwidth limits for clustered scenarios.
  room.go
  room_test.go
Due: none

Add test for calculating per-room bandwidth.
  mcu_test.go
  room_test.go
Due: none

Add tests for setting bandwidth.
  mcu_janus_test.go
  mcu_proxy_test.go
  proxy/proxy_server_test.go
Due: proxy

Test clearing per-room limits and resetting bandwidth.
  room_test.go
Due: none

Describe transient session data.
  docs/standalone-signaling-api-v1.md
Due: none

Implement transient session data.
  api_signaling.go
  federation.go
  federation_test.go
  hub.go
  room.go
  transient_data.go
  transient_data_test.go
Due: none

client: Log bandwidth used (incoming / outgoing).
  client/main.go
Due: client

client: Send "bye" before closing connection.
  client/main.go
Due: client

Add metrics about client bytes/messages sent/received.
  client.go
  client_stats_prometheus.go
  docs/prometheus-metrics.md
Due: none

client: Log bandwidth used (incoming / outgoing).
  client/main.go
  client/stats.go
  client/stats_test.go
Due: client

Add metrics about client bytes/messages sent/received.
  client.go
  client_stats_prometheus.go
  client_test.go
  docs/prometheus-metrics.md
Due: none

Use microseconds instead of timestamppb object for session creation.
  async_events_nats_test.go
  hub.go
  hub_test.go
  proxy/proxy_server.go
  session.pb.go
  session.proto
  sessionid_codec_test.go
Due: proxy

Implement custom session id codec that generates shorter ids.
  async_events_nats_test.go
  go.mod
  go.sum
  hub.go
  hub_test.go
  proxy/proxy_server.go
  sessionid_codec.go
  sessionid_codec_test.go
Due: proxy

Session ids are unique, no need to include type in cache key.
  hub.go
Due: none

CI: Check that version of tarball builds is not "unknown".
  .github/workflows/tarball.yml
Due: none

make: Include "version.txt" in tarball.
  .github/workflows/tarball.yml
  Makefile
Due: none

client: Include version, optimize JSON processing.
  .github/workflows/tarball.yml
  client/main.go
Due: client

Fix spelling errors.
  capabilities_test.go
  grpc_client.go
Due: none

lint: Check spelling using "misspell".
  .golangci.yml
Due: none

Remove unnecessary nil check.
  mcu_janus_client.go
Due: none

lint: Enable "nilness" check in govet.
  .golangci.yml
Due: none

lint: Enable "errchkjson" and update json.Marshal error handling.
  .golangci.yml
  backend_server.go
  capabilities_test.go
  hub_test.go
  proxy/proxy_server.go
  proxy_config_etcd_test.go
Due: proxy

lint: Enable "exptostd" to detect future std library features.
  .golangci.yml
Due: none

Fix ordering of case statements (found by "gocritic").
  api/stringmap.go
Due: api

Simplify string concatenation.
  capabilities.go
Due: none

Rewrite long if-else chains as switch statements.
  api/bandwidth.go
  api_proxy.go
  clientsession.go
  mcu_janus_publisher.go
  mcu_proxy.go
Due: api

Simplify and use range over integer.
  concurrentmap_test.go
Due: none

Don't capitalize variable name.
  proxy/proxy_server.go
Due: proxy

Fix comment format.
  internal/canonicalize_url_test.go
  janus_client.go
  mcu_janus_subscriber.go
Due: none

Remove trailing whitespace from key.
  geoip_test.go
Due: none

lint: Enable "gocritic" linter.
  .golangci.yml
Due: none

Silence error about previous defer not running after "log.Fatal".
  client/main.go
Due: client

lint: Enable "modernize" linter.
  .golangci.yml
Due: none
