Repository strukturag/nextcloud-spreed-signaling: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, proxy, server

Fix URL to send federated ping requests.
  hub.go
Due: none

Test that backend URLs are containing the full OCS path.
  hub_test.go
  room_ping_test.go
Due: none

Document chat relay.
  docs/standalone-signaling-api-v1.md
Due: none

Update generated files.
  api_signaling_easyjson.go
Due: none

Implement relaying of chat messages.
  api_signaling.go
  api_signaling_test.go
  clientsession.go
  clientsession_test.go
  hub_test.go
Due: none

Improve test coverage.
  clientsession_test.go
Due: none

Add test for chat relay with federated clients.
  clientsession_test.go
Due: none

Move functions to canonicalize urls to internal package.
  .codecov.yml
  api_backend.go
  api_signaling.go
  backend_configuration.go
  backend_storage_static.go
  internal/canonicalize_url.go
  internal/canonicalize_url_test.go
  room.go
Due: none

Move "MakePtr" function to internal package.
  api_signaling.go
  etcd_client.go
  federation.go
  internal/make_ptr.go
  mcu_janus.go
  mcu_proxy.go
Due: none

Add interface for method "GetInCall".
  room.go
  session.go
Due: none

Rewrite chat actor information for federation.
  api/stringmap.go
  api/stringmap_test.go
  clientsession_test.go
  federation.go
  testutils_test.go
Due: api

Rewrite chat room mentions for federation.
  clientsession_test.go
  federation.go
Due: none

codecov: Add fallback "root" module.
  .codecov.yml
Due: none

Add "localhost" to generated self-signed test certificates.
  grpc_common_test.go
Due: none

Add etcd TLS tests.
  etcd_client_test.go
Due: none

Register "statsHubSessionsResumedTotal" so it gets included in metrics.
  hub_stats_prometheus.go
Due: none

Make LruCache typed through generics.
  hub.go
  lru.go
  lru_test.go
  proxy/proxy_tokens_etcd.go
Due: proxy

Add commands to the readme on how to build Docker images locally.
  README.md
Due: none

Test and fix reconnections in remote proxy connections.
  proxy/proxy_remote.go
  proxy/proxy_remote_test.go
Due: proxy

Add more proxy tests.
  proxy/proxy_remote_test.go
  proxy/proxy_server.go
  proxy/proxy_server_test.go
Due: proxy

Add test for remote publishers.
  mcu_janus_publisher_test.go
Due: none

Test subscriber closing on all-inactive streams.
  mcu_janus_test.go
Due: none

Add more subscriber tests.
  mcu_janus_subscriber.go
  mcu_janus_test.go
Due: none

Also allow access from ::1 by default.
  allowed_ips.go
Due: none

Protect access to the debug pprof handlers.
  backend_server.go
  proxy.conf.in
  proxy/proxy_server.go
  server.conf.in
  server/main.go
Due: proxy, server

Support maximum bandwidths for compatibility backend.
  backend_storage_static.go
Due: none

Document the "bandwidth" field in room join responses.
  docs/standalone-signaling-api-v1.md
Due: none

Return bandwidth information in room responses.
  api_signaling.go
  hub.go
  hub_test.go
  mcu_common.go
  mcu_janus.go
  mcu_proxy.go
  mcu_test.go
  proxy/proxy_server_test.go
Due: proxy

Reconnect proxy connection even if shutdown was scheduled before.
  mcu_proxy.go
  mcu_proxy_test.go
Due: none

Expose real bandwidth usage through metrics.
  api_backend.go
  api_proxy.go
  hub.go
  internal/ips.go
  internal/ips_test.go
  janus_client.go
  mcu_common.go
  mcu_janus.go
  mcu_janus_client.go
  mcu_janus_events_handler.go
  mcu_janus_test.go
  mcu_proxy.go
  mcu_proxy_test.go
  mcu_stats_prometheus.go
  proxy/proxy_server.go
  proxy/proxy_server_test.go
  proxy/proxy_stats_prometheus.go
  proxy/proxy_testclient_test.go
Due: proxy

Update generated files.
  api_backend_easyjson.go
  api_proxy_easyjson.go
Due: none

Document new bandwidth / usage related metrics.
  docs/prometheus-metrics.md
Due: none

Add note on how to configure Janus events.
  README.md
Due: none

Remove federated session from internal map on cleanup.
  hub.go
  hub_test.go
Due: none

Path conditions:
  api: any of: api/**, but not: *_easyjson.go, *.pb.go
  client: any of: client/**, but not: *_easyjson.go, *.pb.go
  proxy: any of: proxy/**, but not: *_easyjson.go, *.pb.go
  server: any of: server/**, but not: *_easyjson.go, *.pb.go
