Repository strukturag/nextcloud-spreed-signaling: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, proxy, server

.codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: 2%

comment:
  layout: "header, diff, flags, components, files"
  after_n_builds: 2

ignore:
  - "*_easyjson.go"
  - "*.pb.go"

component_management:
  individual_components:
    - component_id: module_api
      name: api
      paths:
        - api/**
    - component_id: module_client
      name: client
      paths:
        - client/**
    - component_id: module_proxy
      name: proxy
      paths:
        - proxy/**
    - component_id: module_server
      name: server
      paths:
        - server/**

Close subscriber synchronously on errors.
  mcu_janus_subscriber.go
Due: none

Start timer for anonymous sessions to join room before sending response.
  hub.go
Due: none

Also ignore "participants" events sent before room was joined.
  clientsession.go
Due: none

Wait for events to be processed in tests before sending between sessions.
  async_events_test.go
  hub_test.go
Due: none

Move synctest helper to test package.
  .codecov.yml
  backoff_test.go
  deferred_executor_test.go
  notifier_test.go
  single_notifier_test.go
  test/synctest24.go
  test/synctest25.go
  test/synctest_test.go
  throttle_test.go
  transient_data_test.go
Due: none

Move Goroutines helpers to test package.
  backend_storage_etcd_test.go
  file_watcher_test.go
  grpc_client_test.go
  hub_test.go
  natsclient_test.go
  test/goroutines.go
  testutils_test.go
Due: none

Move deferred executor code to async package.
  async/deferred_executor.go
  async/deferred_executor_test.go
Due: none

Move backoff code to async package.
  .codecov.yml
  async/backoff.go
  async/backoff_test.go
  backend_storage_etcd.go
  etcd_client.go
  grpc_client.go
  hub.go
  natsclient.go
  proxy/proxy_server.go
  proxy_config_etcd.go
Due: proxy

Move channel waiter code to async package.
  async/channel_waiter.go
  async/channel_waiter_test.go
  clientsession.go
  mcu_proxy.go
Due: none

Move notifier code to async package.
  async/notifier.go
  async/notifier_test.go
  async/single_notifier.go
  async/single_notifier_test.go
  mcu_janus.go
  mcu_proxy.go
Due: none

Move closer helper to internal package.
  client.go
  federation.go
  hub.go
  internal/closer.go
  internal/closer_test.go
  janus_client.go
  mcu_janus.go
  mcu_janus_publisher.go
  mcu_proxy.go
  room.go
  room_ping.go
  throttle.go
Due: none

Move common stats code to metrics package.
  .codecov.yml
  backend_client_stats_prometheus.go
  backend_configuration_stats_prometheus.go
  client_stats_prometheus.go
  grpc_stats_prometheus.go
  http_client_pool_stats_prometheus.go
  hub_stats_prometheus.go
  mcu_stats_prometheus.go
  metrics/prometheus.go
  stats_prometheus.go
  throttle_stats_prometheus.go
Due: none

Move throttler code to async package.
  async/throttle.go
  async/throttle_stats_prometheus.go
  async/throttle_test.go
  backend_server.go
  hub.go
  hub_test.go
Due: none

Move SplitEntries helper to internal package.
  allowed_ips.go
  backend_server.go
  backend_storage_static.go
  client/main.go
  config.go
  etcd_client.go
  grpc_client.go
  hub_test.go
  internal/split_entries.go
  internal/split_entries_test.go
  mcu_janus_publisher.go
  mcu_proxy.go
  proxy/main.go
  proxy/proxy_server_test.go
  proxy_config_static.go
  server/main.go
Due: client, proxy, server

Move IPList (from AllowedIps) to container package.
  .codecov.yml
  api_signaling.go
  api_signaling_test.go
  backend_server.go
  container/ip_list.go
  container/ip_list_test.go
  hub.go
  hub_test.go
  mcu_janus.go
  proxy/proxy_server.go
Due: proxy

Move LruCache to container package.
  container/lru.go
  container/lru_test.go
  hub.go
  hub_test.go
  proxy/proxy_tokens_etcd.go
Due: proxy

Move ConcurrentMap to container package.
  backend_server.go
  container/concurrentmap.go
  container/concurrentmap_test.go
Due: none

Move NATS client to nats package.
  .codecov.yml
  async_events.go
  async_events_nats.go
  async_events_test.go
  backend_server_test.go
  hub_test.go
  nats/client.go
  nats/loopback.go
  nats/loopback_test.go
  nats/native.go
  nats/native_test.go
  nats/test_helpers.go
  server/main.go
Due: server

Move buffer/httpclient pools to pool package.
  .codecov.yml
  backend_client.go
  backend_client_test.go
  backend_server.go
  capabilities.go
  capabilities_test.go
  client.go
  pool/buffer_pool.go
  pool/http_client_pool.go
  pool/http_client_pool_stats_prometheus.go
  pool/http_client_pool_test.go
Due: none

Move Talk capabilities to talk package.
  .codecov.yml
  Makefile
  api_backend.go
  backend_client.go
  backend_client_test.go
  client/main.go
  hub.go
  hub_test.go
  room_ping.go
  talk/capabilities.go
  talk/capabilities_test.go
  talk/ocs.go
Due: client

Update generated files.
  api_backend_easyjson.go
  talk/ocs_easyjson.go
Due: none

Move crypto helper functions to internal package.
  etcd_client_test.go
  grpc_client_test.go
  grpc_common_test.go
  grpc_server_test.go
  internal/crypto_helpers.go
  mcu_proxy_test.go
Due: none

Update generated files.
  api/signaling_easyjson.go
  api_async_easyjson.go
  api_backend_easyjson.go
  api_proxy_easyjson.go
Due: api

Move confiuration helpers to config module.
  .codecov.yml
  backend_server.go
  backend_storage_static.go
  client/main.go
  config/config.go
  config/config_test.go
  geoip.go
  grpc_server.go
  hub.go
  mcu_proxy.go
  proxy/main.go
  proxy/proxy_server.go
  proxy/proxy_tokens_static.go
  proxy_config_static.go
  server/main.go
Due: client, proxy, server

Move backend object to talk package.
  .codecov.yml
  api_backend.go
  api_backend_test.go
  async_events.go
  async_events_nats.go
  async_events_nats_test.go
  backend_client.go
  backend_configuration.go
  backend_configuration_test.go
  backend_server.go
  backend_storage_etcd.go
  backend_storage_static.go
  clientsession.go
  clientsession_test.go
  etcd/api.go
  etcd/api_test.go
  grpc_server.go
  hub.go
  hub_test.go
  mcu_proxy_test.go
  room.go
  roomsessions_test.go
  session.go
  sessionid_codec_test.go
  talk/backend.go
  talk/backend_stats_prometheus.go
  virtualsession.go
  virtualsession_test.go
Due: none

Update generated files.
  api_backend_easyjson.go
Due: none

Move function to check for address already in use to test package.
  etcd_client_test.go
  grpc_server_test.go
  proxy/proxy_tokens_etcd_test.go
  test/network.go
  test/network_test.go
Due: proxy

CI: Also upload images to quay.io/strukturag/nextcloud-spreed-signaling
  .github/workflows/deploydocker.yml
Due: none

CI: Run "modernize" with Go 1.25
  .github/workflows/lint.yml
Due: none

CI: Skip some modernize checks that fail on GRPC stubs.
  .github/workflows/lint.yml
Due: none

CI: Always use latest patch release for govuln checks.
  .github/workflows/govuln.yml
Due: none

Process all NATS messages for same target from single goroutine.
  async_events.go
  async_events_nats.go
  backend_server_test.go
  clientsession.go
  clientsession_test.go
  hub_test.go
  natsclient.go
  natsclient_loopback.go
  room.go
  virtualsession.go
Due: none

Add per-room bandwidth limits.
  api_proxy.go
  clientsession.go
  grpc_client.go
  grpc_room.proto
  grpc_server.go
  mcu_common.go
  mcu_janus_client.go
  mcu_proxy.go
  proxy/proxy_server.go
  proxy/proxy_server_test.go
  proxy/proxy_session.go
  room.go
  session.go
Due: proxy

Define min/max bandwidth per publisher.
  room.go
Due: none

Update generated files.
  api_proxy_easyjson.go
  grpc_room.pb.go
  grpc_room_grpc.pb.go
Due: none

Support setting bandwidth for proxy publishers.
  api_proxy.go
  mcu_proxy.go
  proxy/proxy_server.go
Due: proxy

Adjust default limits.
  room.go
Due: none

Only count publishers that are sending at least 64 kbit/s.
  clientsession.go
Due: none
