Repository strukturag/nextcloud-spreed-signaling: changes, and which Codecov flags are due for each by the changed paths.
All: api, client, proxy, server

Fix race condition where closeOnLeave could be set after leave was received.
  federation.go
  federation_test.go
  hub.go
  hub_test.go
Due: none

Don't use environment to keep per-test properties.
  hub_test.go
  testutils_test.go
Due: none

Expose real bandwidth usage through metrics.
  api_backend.go
  api_proxy.go
  hub.go
  internal/ips.go
  internal/ips_test.go
  janus_client.go
  mcu_common.go
  mcu_janus.go
  mcu_janus_client.go
  mcu_janus_events_handler.go
  mcu_janus_test.go
  mcu_proxy.go
  mcu_proxy_test.go
  mcu_stats_prometheus.go
  proxy/proxy_server.go
  proxy/proxy_server_test.go
  proxy/proxy_stats_prometheus.go
  proxy/proxy_testclient_test.go
Due: proxy

Document new bandwidth / usage related metrics.
  docs/prometheus-metrics.md
Due: none

Update generated files.
  api_backend_easyjson.go
  api_proxy_easyjson.go
Due: none

Add note on how to configure Janus events.
  README.md
Due: none

Add tests for Janus events handler.
  hub.go
  mcu_janus_events_handler.go
  mcu_janus_events_handler_test.go
  proxy/proxy_server.go
Due: proxy

Add tests for different event types.
  mcu_janus_events_handler.go
  mcu_janus_events_handler_test.go
Due: none

Also expose bandwidth usage of backend servers through metrics.
  api_proxy.go
  docs/prometheus-metrics.md
  mcu_proxy.go
  mcu_stats_prometheus.go
  proxy/proxy_server.go
Due: proxy

Update generated files.
  api_proxy_easyjson.go
Due: none

Add type to store bandwidths.
  api/bandwidth.go
  api/bandwidth_test.go
  internal/nocopy.go
Due: api

Switch to new Bandwidth type.
  api_backend.go
  api_proxy.go
  api_signaling.go
  backend_configuration.go
  backend_storage_static.go
  clientsession.go
  clientsession_test.go
  hub.go
  mcu_common.go
  mcu_janus.go
  mcu_janus_client.go
  mcu_janus_events_handler.go
  mcu_janus_events_handler_test.go
  mcu_janus_test.go
  mcu_proxy.go
  mcu_test.go
  proxy/proxy_server.go
  proxy/proxy_server_test.go
Due: proxy

Update generated files.
  api_backend_easyjson.go
  api_proxy_easyjson.go
  api_signaling_easyjson.go
Due: none

Add metric for RTT of WebSocket ping messages.
  client.go
  client_stats_prometheus.go
  docs/prometheus-metrics.md
Due: none

Add metrics for candidates and ICE, DTLS and PeerConnection states.
  docs/prometheus-metrics.md
  mcu_janus_events_handler.go
  mcu_stats_prometheus.go
Due: none

Need events of type "webrtc".
  README.md
Due: none

Also rewrite token in comment for federated chat relay.
  clientsession_test.go
  federation.go
Due: none

Add metrics for Janus slow link events.
  docs/prometheus-metrics.md
  mcu_janus_events_handler.go
  mcu_stats_prometheus.go
Due: none

Add metrics for media RTT / jitter.
  docs/prometheus-metrics.md
  mcu_janus_events_handler.go
  mcu_stats_prometheus.go
Due: none

Use single metrics for selected candidates.
  docs/prometheus-metrics.md
  mcu_janus_events_handler.go
  mcu_stats_prometheus.go
Due: none

Add more media-related metrics.
  README.md
  docs/prometheus-metrics.md
  mcu_janus_events_handler.go
  mcu_janus_events_handler_test.go
  mcu_stats_prometheus.go
  stats_prometheus_test.go
Due: none

Lint Janus metrics.
  mcu_janus_test.go
Due: none

Add per-room bandwidth limits.
  api_proxy.go
  clientsession.go
  grpc_client.go
  grpc_room.proto
  grpc_server.go
  mcu_common.go
  mcu_janus_client.go
  mcu_proxy.go
  proxy/proxy_server.go
  proxy/proxy_server_test.go
  proxy/proxy_session.go
  room.go
  session.go
Due: proxy

Define min/max bandwidth per publisher.
  room.go
Due: none

Update generated files.
  api_proxy_easyjson.go
  grpc_room.pb.go
  grpc_room_grpc.pb.go
Due: none

Adjust default limits.
  room.go
Due: none

Support setting bandwidth for proxy publishers.
  api_proxy.go
  mcu_proxy.go
  proxy/proxy_server.go
Due: proxy

Only count publishers that are sending at least 64 kbit/s.
  clientsession.go
Due: none

Add formatting to bandwidth values.
  api/bandwidth.go
  api/bandwidth_test.go
Due: api

Log formatted bandwidths.
  mcu_common.go
  proxy/proxy_server.go
Due: proxy

Don't format zero bandwidth as "unlimited".
  api/bandwidth.go
  api/bandwidth_test.go
  proxy/proxy_server.go
Due: api, proxy

CI: Split test jobs to speed up total actions time.
  .github/workflows/test.yml
Due: none

Support storing loggers in contexts.
  logging.go
Due: none

Add method to create new test logger.
  test_helpers.go
  test_helpers_24.go
  test_helpers_25.go
Due: none

Fix remote connection still logging after close.
  proxy/proxy_remote.go
Due: proxy

Wait for NATS client to be closed.
  async_events.go
  async_events_nats.go
  async_events_test.go
  backend_server_test.go
  hub_test.go
  natsclient.go
  natsclient_loopback.go
  natsclient_loopback_test.go
  natsclient_test.go
  server/main.go
Due: server

Path conditions:
  api: any of: api/**, but not: *_easyjson.go, *.pb.go
  client: any of: client/**, but not: *_easyjson.go, *.pb.go
  proxy: any of: proxy/**, but not: *_easyjson.go, *.pb.go
  server: any of: server/**, but not: *_easyjson.go, *.pb.go
